@import "weather.css";
@import "todo.css";
@import "clock.css";
@import "gretting.css";
@import "bg.css";

body {
  color: #fff;
  transition: color 0.5s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}