@keyframes slide-right {
    from {
        margin-left: -500px;
    }

    to {
        margin-left: 0%;
    }
}

.bars {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
}

.bars:hover {
    cursor: pointer;
}

.todo {
    height: 100vh;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    padding: 0px 15px;
    animation: slide-right 0.5s;
}

.show__status-bar {
    display: block;
}

.todo__status-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}

.todo__status-bar__title {
    font-size: 30px;
}

.todo__status-bar button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}

.todo__status-bar button:hover {
    cursor: pointer;
}

.toDoForm {
    width: 100%;
    text-align: center;
}

.toDoForm input {
    box-sizing: border-box;
    width: 90%;
    height: 35px;
    border-radius: 20px;
    padding: 0px 10px;
}

.btnTodo {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 20px;
}

.pending,
.finished {
    padding-left: 35px;
}